[/script/shootergame.shootergamemode]
;-----------------------------------------------
; Loot Crate Settings
;-----------------------------------------------
bDisableLootCrates=False
RandomSupplyCratePoints=False

;-----------------------------------------------
; Mode Settings
;-----------------------------------------------
bDisableFriendlyFire=False
bPvEDisableFriendlyFire=False
bIncreasePvPRespawnInterval=False
bAutoPvETimer=False
PvPZoneStructureDamageMultiplier=6.000000
bPassiveDefensesDamageRiderlessDinos=False

;-----------------------------------------------
; Map Specific Setttings
;-----------------------------------------------
bDisableGenesisMissions=False
bDisableDefaultMapItemSets=False
bDisableWorldBuffs=False
bEnableWorldBuffScaling=False
BaseHexagonRewardMultiplier=1.000000
HexagonCostMultiplier=1.000000
bGenesisUseStructuresPreventionVolumes=False

;-----------------------------------------------
; Tribe
;-----------------------------------------------
MaxTribeLogs=100
MaxNumberOfPlayersInTribe=70
MaxAlliancesPerTribe=10
MaxTribesPerAlliance=10
bPvEAllowTribeWar=True
bPvEAllowTribeWarCancel=False
bFlyerPlatformAllowUnalignedDinoBasing=True

;-----------------------------------------------
; Building
;-----------------------------------------------
bDisableStructurePlacementCollision=True
bLimitTurretsInRange=False
bHardLimitTurretsInRange=False
bAllowPlatformSaddleMultiFloors=True
StructureDamageRepairCooldown=180

;-----------------------------------------------
; Engrams
;-----------------------------------------------
bAllowCustomRecipes=True
bAutoUnlockAllEngrams=True
OverrideNamedEngramEntries=(EngramClassName="EngramEntry_Craftable_element2_C",EngramHidden=true)

;-----------------------------------------------
; Player Settings
;-----------------------------------------------
bUseCorpseLocator=True
bAllowUnlimitedRespecs=True

;-----------------------------------------------
; Dino Settings
;-----------------------------------------------
TamedDinoCharacterFoodDrainMultiplier=0.800000
bAllowFlyerSpeedLeveling=True
PassiveTameIntervalMultiplier=0.500000
PoopIntervalMultiplier=0.900000
LayEggIntervalMultiplier=0.500000
MatingIntervalMultiplier=0.150000
MatingSpeedMultiplier=0.200000
EggHatchSpeedMultiplier=7.000000
BabyMatureSpeedMultiplier=25.000000
BabyCuddleIntervalMultiplier=0.1
BabyImprintAmountMultiplier=30.000000

;-----------------------------------------------
; Experience Settings
;-----------------------------------------------
GenericXPMultiplier=3.000000
CraftXPMultiplier=1.300000
HarvestXPMultiplier=1.300000
KillXPMultiplier=1.300000
SpecialXPMultiplier=1.300000

;-----------------------------------------------
; Spoiling Settings
;-----------------------------------------------
GlobalSpoilingTimeMultiplier=1.200000
CropDecaySpeedMultiplier=0.900000
CropGrowthSpeedMultiplier=1.200000
