[SessionSettings]
SessionName={{ server_name }}
Port={{ server_game_port }}
QueryPort={{ server_browser_port }}

[ServerSettings]
;----------------------------------------------------------
; RCON Settings
;----------------------------------------------------------
RCONEnabled=true
RCONPort={{ server_rcon_port }}
RCONServerGameLogBuffer=600

;----------------------------------------------------------
; Password Settings
;----------------------------------------------------------
ServerPassword={{ ServPW }}
ServerAdminPassword={{ AdminPW }}
SpectatorPassword={{ SpectPW }}

;----------------------------------------------------------
; General Settings
;----------------------------------------------------------
AdminLogging=false
ActiveMods=
BanListURL="http://arkdedicated.com/banlist.txt"
DifficultyOffset=1.0
OverrideOfficialDifficulty=5.0
AutoSavePeriodMinutes=15.000000
AllowSharedConnections=true
proximityChat=false
alwaysNotifyPlayerLeft=true
alwaysNotifyPlayerJoined=true
ServerCrosshair=true
ServerForceNoHud=false
AllowThirdPersonPlayer=true
ShowMapPlayerLocation=true

;----------------------------------------------------------
; Mode Settings
;----------------------------------------------------------
ServerHardcore=false
ServerPVE=false
PreventOfflinePvP=false

;----------------------------------------------------------
; Map Settings
;----------------------------------------------------------
AllowTekSuitPowersInGenesis=true
MaxHexagonsPerCharacter=2500000
bForceCanRideFliers=true

;----------------------------------------------------------
; Cross Ark Settings
;----------------------------------------------------------
NoTributeDownloads=false
PreventDownloadSurvivors=false
PreventDownloadItems=false
PreventDownloadDinos=false
PreventUploadSurvivors=false
PreventUploadItems=false
PreventUploadDinos=false
CrossARKAllowForeignDinoDownloads=true

;----------------------------------------------------------
; Tribe Settings
;----------------------------------------------------------
PreventTribeAlliances=false
TribeNameChangeCooldown=15

;----------------------------------------------------------
; Player Settings
;----------------------------------------------------------
PreventSpawnAnimations=false
PreventDiseases=false
NonPermanentDiseases=true
PlayerCharacterWaterDrainMultiplier=0.500000
PlayerCharacterFoodDrainMultiplier=0.500000
PlayerCharacterStaminaDrainMultiplier=0.700000

;----------------------------------------------------------
; Dino Settings
;----------------------------------------------------------
MaxTamedDinos=4000
MaxPersonalTamedDinos=400.000000
AutoDestroyDecayedDinos=false
PersonalTamedDinosSaddleStructureCost=19
DisableImprintDinoBuff=false
AllowAnyoneBabyImprintCuddle=true
DinoCountMultiplier=1.300000
TamingSpeedMultiplier=4.000000

;----------------------------------------------------------
; Building Settings
;----------------------------------------------------------
PlatformSaddleBuildAreaBoundsMultiplier=2.000000
MaxGateFrameOnSaddles=2
EnableExtraStructurePreventionVolumes=false
AllowCaveBuildingPvE=true
PvPStructureDecay=false
TheMaxStructuresInRange=10500.000000
OverrideStructurePlatformPrevention=true
PvEAllowStructuresAtSupplyDrops=true
DisableStructureDecayPVE=true
ForceAllStructureLocking=false
OnlyAutoDestroyCoreStructures=false
OnlyDecayUnsnappedCoreStructures=false
FastDecayUnsnappedCoreStructures=false
DestroyUnconnectedWaterPipes=true
AlwaysAllowStructurePickup=true
StructurePickupTimeAfterPlacement=30.000000
StructurePickupHoldDuration=0.500000
AllowIntegratedSPlusStructures=false

;----------------------------------------------------------
; TODO: ORGANIZE
;----------------------------------------------------------
TribeLogDestroyedEnemyStructures=false
AllowHideDamageSourceFromLogs=false
EnableCryoSicknessPVE=false
globalVoiceChat=false
EnablePVPGamma=true
DisablePvEGamma=false
ShowFloatingDamageText=false
AllowHitMarkers=true
AllowFlyerCarryPVE=true
DinoCharacterStaminaDrainMultiplier=0.700000
AllowRaidDinoFeeding=false
DisableDinoDecayPvE=true
PvPDinoDecay=false
HarvestAmountMultiplier=5.000000
UseOptimizedHarvestingHealth=false
ClampResourceHarvestDamage=false
ClampItemSpoilingTimes=false
DayTimeSpeedScale=0.8280876
NightTimeSpeedScale=1.859562
XPMultiplier=3.000000
AllowFlyingStaminaRecovery=true
StructurePreventResourceRadiusMultiplier=1.000000
OxygenSwimSpeedStatMultiplier=1.000000
RaidDinoCharacterFoodDrainMultiplier=1.000000
PvEDinoDecayPeriodMultiplier=1.000000
ListenServerTetherDistanceMultiplier=1.000000
DisableWeatherFog=true
PerPlatformMaxStructuresMultiplier=3.000000
ShowFloatingDamageText=true

[/Script/Engine.GameSession]
MaxPlayers=10

[MessageOfTheDay]
;Message=Dont Fuck It Up
;Duration=10

[RNStacks]
GlobalStackSize=10000
GlobalItemWeight=0.001
WeightReductionDisabled=false

[ClassicFlyers]
FlyerSpeedMultiplier=1.0
FlyerStaminaMultiplier=1.0
FlyerStaminaRecoveryRate=0.1
FlyerHealthMultiplier=1.0
FlyerWeightMultiplier=1.0
FlyerMeleeMultiplier=1.0
AllowWyvernBreeding=1

[LethalsReusables]
GrappleAnywhere=true

[StructuresPlus]
EnableEngramOverride=true
OverrideTekEngrams=true
ResourcePullRangeInFoundations=50
AllowIntakeToPlaceWithoutWater=true
GrinderResourceReturnPercent=75
NoFoundationsRequired=true
CampfireCraftingSpeed=2
ChemistryBenchCraftingSpeed=2
CompostBinCraftingSpeed=2
CookingPotCraftingSpeed=2
DroneTerminalCraftingSpeed=2
DyeriaCraftingSpeed=25
ElementCatalyzerCraftingSpeed=2
FabricatorCraftingSpeed=2
ForgeCraftingSpeed=4
FireplaceCraftingSpeed=2
FridgeCraftingSpeed=2
GrinderCraftingSpeed=2
IndustrialCookingPotCraftingSpeed=24
IndustrialForgeCraftingSpeed=4
IndustrialGrillCraftingSpeed=2
MortarAndPestleCraftingSpeed=2
PreservingBinCraftingSpeed=2
ReplicatorCraftingSpeed=24
SmithyCraftingSpeed=2
SPlusCraftingStationCraftingSpeed=2
TekChemBenchCraftingSpeed=2
TekCookingPotCraftingSpeed=50
TekForgeCraftingSpeed=2
TekStoveCraftingSpeed=2

[CKF_Config]
CeilingIsFoundation=true
StructureCraftingSpeed=3
StructureCookingSpeed=3

[DinoHealthBrew]
HealDuration=10.00
HealPercent=30.00
AutoHealingThreshold=60
AutoHealingTime=30
CooldownTime=20

[BuildersHelmet]
NoCollision=True
PreventPickUp=False
PickUpDamaged=True
PreventPickUpDamagedPickupable=False
MaxWeight=2000
NoOutlineEffect=False
TimeToPickUp=3600
NoCollisionKey=Alt
FreeFloors=False
HideBuffIcon=False
FastBuildUsingShift=False

[KibbleTable]
KibbleTableCraftSpeed=3

[ElementExtractor]
Brute=50
Clever=10
Cunning=40
Devourer=10
Hunter=10
Immune=25
Massive=10
Pack=10
Skylord=10
Strong=25
Crag=25
Destroyer=25
Gatekeeper=25
Devious=1
Implant=10
Flamekeeper=1
Depths=15
Stalker=30
Shadows=30
Lost=1

[ArkAutomatedSettings]
AutomationModActive=True
KitchenModActive=True
RaidModActive=True
GardenModActive=False
BabyModActive=True
PowerModActive=True
ConsolePullRange=10000
ConsolePullTimer=3600
ConsoleMaxStorage=1000
CraftingSpeedMultiplier=3
OCDDropVaultMaxStorage=1000
OCDMetalMaxStorage=1000
OCDMarbleMaxStorage=650
OCDDriftwoodMaxStorage=300
IndustrialForgePickupRadius=10000
ForgeSmeltingMultiplier=6
MiniForgeSmeltingMultiplier=3
FeedingTroughPullRange=10000
CompostBinPoopDistance=10000
SiloThatchBinDistance=10000
CompostBinSpeedMult=100
CropPlotFillingDistance=10000
EggCratePickupDistance=10000
GrinderReturnPercentage=0.75
GrinderMaxItemReturn=10000
KibbleImprintPercent=100
KibbleGrowthSpeed=100
EngramDelay=0.1
UnlockAllEngrams=true
MedStationHealRate=5
RepairCooldown=300
AntHillSpawnRate=120
OverflowBypass=false

[ArkChaosCreator]
ServerKey=297b1ddb-ec23-4a7b-a48c-8cd14102e181

;---------------------------------------------------------
; Client only settings
; Required by the server for some reason
;---------------------------------------------------------
[/Script/ShooterGame.ShooterGameUserSettings]
MasterAudioVolume=1.000000
MusicAudioVolume=1.000000
SFXAudioVolume=1.000000
VoiceAudioVolume=2.000000
CharacterAudioVolume=1.000000
UIScaling=1.000000
UIQuickbarScaling=0.650000
CameraShakeScale=0.650000
bFirstPersonRiding=false
bThirdPersonPlayer=false
bInventoryHideUnlearnedEngrams=false
bShowStatusNotificationMessages=true
trueSkyQuality=0.000000
FOVMultiplier=1.000000
GroundClutterDensity=0.000000
bFilmGrain=false
bMotionBlur=false
bUseDistanceFieldAmbientOcclusion=false
bUseSSAO=false
bShowChatBox=true
bCameraViewBob=true
bInvertLookY=false
bFloatingNames=true
bChatBubbles=true
bHideServerInfo=false
bJoinNotifications=false
bCraftablesShowAllItems=false
bLocalInventoryItemsShowAllItems=false
bLocalInventoryCraftingShowAllItems=true
bRemoteInventoryItemsShowAllItems=false
bRemoteInventoryCraftingShowAllItems=false
bRemoteInventoryShowEngrams=true
bForceDisableSuperDetailMode=true
LookLeftRightSensitivity=1.000000
LookUpDownSensitivity=1.000000
GraphicsQuality=1
ActiveLingeringWorldTiles=1
ClientNetQuality=3
LastServerSearchType=0
LastServerSort=2
LastPVESearchType=-1
LastDLCTypeSearchType=-1
LastServerSortAsc=true
LastAutoFavorite=true
LastServerSearchHideFull=false
LastServerSearchProtected=false
LastServerSearchIncludeServersWithActiveMods=true
HideItemTextOverlay=true
bQuickToggleItemNames=true
bDistanceFieldShadowing=false
LODScalar=0.780000
bToggleToTalk=false
HighQualityMaterials=true
HighQualitySurfaces=true
bTemperatureF=false
bDisableTorporEffect=false
bChatShowSteamName=false
bChatShowTribeName=true
bReverseTribeLogOrder=false
EmoteKeyBind1=0
EmoteKeyBind2=0
bNoBloodEffects=false
bLowQualityVFX=false
bSpectatorManualFloatingNames=false
bSuppressAdminIcon=false
bUseSimpleDistanceMovement=false
bDisableMeleeCameraSwingAnims=false
bHighQualityAnisotropicFiltering=false
bUseLowQualityLevelStreaming=true
bPreventInventoryOpeningSounds=false
bPreventItemCraftingSounds=false
bPreventHitMarkers=false
bPreventCrosshair=false
bPreventColorizedItemNames=false
bHighQualityLODs=false
bExtraLevelStreamingDistance=false
bEnableColorGrading=true
DOFSettingInterpTime=0.000000
bDisableBloom=false
bDisableLightShafts=false
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
LastJoinedSessionPerCategory=" "
bDisableMenuTransitions=false
bEnableInventoryItemTooltips=true
bRemoteInventoryShowCraftables=false
bNoTooltipDelay=false
LocalItemSortType=0
LocalCraftingSortType=0
RemoteItemSortType=0
RemoteCraftingSortType=0
VersionMetaTag=1
ShowExplorerNoteSubtitles=false
DisableMenuMusic=false
DisableDefaultCharacterItems=false
bRequestDefaultCharacterItemsOnce=false
bHasSeenGen2Intro=false
bHideFloatingPlayerNames=false
bHideGamepadItemSelectionModifier=false
bToggleExtendedHUDInfo=false
PlayActionWheelClickSound=true
CompanionReactionVerbosity=3
EnableEnvironmentalReactions=true
EnableRespawnReactions=true
EnableDeathReactions=true
EnableSayHelloReactions=true
EnableEmoteReactions=true
EnableMovementSounds=true
DisableSubtitles=false
CompanionSubtitleVerbosityLevel=3
CompanionIsHiddenState=false
MaxAscensionLevel=0
bHostSessionHasBeenOpened=false
bForceTPVCameraOffset=false
bDisableTPVCameraInterpolation=false
bFPVClimbingGear=false
bFPVGlidingGear=false
Gamma1=2.200000
Gamma2=3.000000
AmbientSoundVolume=1.000000
bAllowAnimationStaggering=true
bUseOldThirdPersonCameraTrace=false
bUseOldThirdPersonCameraOffset=false
bLowQualityAnimations=true
bShowedGenesisDLCBackground=false
bShowedGenesis2DLCBackground=false
bViewedAnimatedSeriesTrailer=false
bViewedARK2Trailer=false
bShowRTSKeyBinds=true
bHasCompletedGen2=false
bUseVSync=false
MacroCtrl0=
MacroCtrl1=
MacroCtrl2=
MacroCtrl3=
MacroCtrl4=
MacroCtrl5=
MacroCtrl6=
MacroCtrl7=
MacroCtrl8=
MacroCtrl9=
ResolutionSizeX=1280
ResolutionSizeY=720
LastUserConfirmedResolutionSizeX=1280
LastUserConfirmedResolutionSizeY=720
WindowPosX=-1
WindowPosY=-1
bUseDesktopResolutionForFullscreen=false
FullscreenMode=2
LastConfirmedFullscreenMode=2
Version=5

[ScalabilityGroups]
sg.ResolutionQuality=100
sg.ViewDistanceQuality=3
sg.AntiAliasingQuality=3
sg.ShadowQuality=3
sg.PostProcessQuality=3
sg.TextureQuality=3
sg.EffectsQuality=3
sg.trueSkyQuality=3
sg.GroundClutterQuality=3
sg.IBLQuality=1
sg.HeightFieldShadowQuality=3
sg.GroundClutterRadius=10000
